body{
	background: #ccc;
	margin: 0 auto;
	width: 100%;
	font-family: "calibri";
	cursor: auto;
}

.red-link:hover{
	color: red;
}
input[type=submit], input[type=file]{
	cursor: pointer;
}

#logged-div{
	width: 240px;
	position: absolute;
	text-align: center;
	left: 50%;
	margin-left: -120px;
}

.btn{
	color: white;
	background: #3d3d3d;
	border: 0px solid;
	border-color: grey;
	border-radius: 5%;
}

header{
	background: #fff;
	display: inline-flex;
	width: 100%;
	height: 55px;
}

#imglogo{
	width: 150px;
	height: 50px;
	background-image: url("https://i.imgur.com/p6FgTIj.png");
	background-repeat: no-repeat;
	background-size: auto 60px;
	margin-right: -30px;
	margin-left: 10px;
}

header ul li{
	font-size: 17px;
	display: inline;
	padding: 10px;
	font-weight: bold;
}
header ul li:hover{
	background: #ccc;
	border-radius: 3%;
}

a{
	color: black;
	text-decoration: none;
}
button{
	cursor: pointer;
	height: 38px;
	width: 80px;
	margin: 0px 2px;
}

.login-wrapper{
	margin: 8px;
	display: flex;
	position: absolute;
	right: 0;
	text-align: right;
}

.login-wrapper form input{
	width: 	200px;
	height: 32px;
	font-size: 100%;
	padding-left: 5px;
	margin: 0px 2px;
	font-family: inherit;
	display: inline;
}

#login-form{
	display: inline-flex;
}


/*  SIGNUP PAGE --> */


#signup-title{
	font-size: 50px;
	margin-bottom: 10px; 
}

.row{
	display: flex;
}

.column{
	flex: 50%;
	padding: 20px 10px;
	text-align: center;
	font-size: 25px;
}
.column input[type=text], .column input[type=email], .column input[type=password], .column input[type=tel], .column input[type=date]{
	width: 260px;
	height: 40px;
	margin-top: 10px;
	font-size: 25px;
	padding: 10px;
	border-radius: 3%;
	border: 1px solid black;
}

#signup-birthday{
	width: 160px;
	text-align: right;
	font-size: 17px;
}


#signup-button{
	text-align: center;
	margin: 0px -3px;
	padding: 12px 12px;
	border: 0px solid;
	background: #3d3d3d;
	border-radius: 5%;
}

#signup-btn{
	font-size: 35px;
	font-weight: bold;
	height: auto;
	width: auto;
	margin: 20px;
	padding: 15px;
	border: 0px solid;
	background: #3d3d3d;
	border-radius: 3%;
}

#signup-content{
	text-align: center;
	position: fixed;
	background-color: rgb(0,0,0,0.4);
	color: black;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	z-index: 1;
	padding-top: 20px;
}

#signup-wrapper {
	background: #8e8e8e;
	border: 1px solid black;
	width: 650px;
	border-radius: 2%;
	margin: 3% auto;
}

#signup-gender{
	font-size: 30px;
	margin-top: 25px;
	margin-left: -50px;
}

#signup-gender input{
	width: 20px;
	margin-left: 30px;
}

.form-error{
	color: red;
}
.form-success{
	color: green;
}


/* <-- SIGNUP PAGE  */

.logged-span{
	background-color: white;
	padding: 5px 10px;
	border-radius: 3px;
}

.picture-collage{
	display: block;
	text-align: center;
	padding: 0px 15px;
	right: 25%;
	top: 10%;
	background: #8e8e8e;
	width: 800px;
	border-radius: 1.5%;
}

.cat-pics{
	width: 360px;
	height: auto;
	margin: 20px 0px;
	font-size: 25px;
	padding: 0px;
	border-radius: 2%;
	border: 5px solid #3d3d3d;
}

#pic-top-right{
	width: 34px;
	height: 34px;
	padding: 0px;
	margin: 0px 3px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 34px;
	opacity: 0.8;
	border: 2px solid;
	border-radius: 10%;
	border-color: rgb(,,, 0.9);
}

#pic-top-right:hover{
	opacity: 1;
	border-color: black;
}

#un-top-right{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin: 10px 3px;
}

#un-top-right:hover{
	color: red;
	cursor: pointer;
}

/* PROFILE PAGE --> */

/* INFORMATION COLUMN --> */
#profile-page-wrapper{
	display: flex;
	margin-top: -4px;
}

.profile-column{
	width: 400px;
	background: #ccc;
	border-right: 3px solid #3d3d3d;
	font-family: "oswald";
	padding: 0px 20px;
	text-align: center;
}
.profile-column:hover + #profile-edit-logo{
	display: block;
}

.profile-posts-div{
	width: 100%;
	min-height: 1000px;
	background: grey;
}


.profile-column-photo{
	width: 254px;
	height: 252px;
	background-repeat: no-repeat;
	border: 5px solid black;
	margin-top: 35px;
	opacity: 1;
}

.profile-img-hov{
	width: 250px;
	height: 250px;
	background-color: black;
	color: white;
	position: absolute;
	margin-top: 35px;
	margin-left: 25px;
	border: 5px solid black;
	opacity: 0;
	transition: 0.5s ease;
}

.profile-img-hov h1{
	margin-top: 60px;
}

.profile-img-hov:hover{
	opacity: 1;
	background-color: rgb(0,0,0, 0.65);
	transition: 1s ease;
	cursor: pointer;
}

.profile-column-big{
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 0px;
}

.row1{
	width: 150px;
	margin: 0;
}

.profile-column-name1{
	text-align: left;
	margin-left: 25px;
	margin-bottom: -15px;
}

.profile-column-name2{
	text-align: left;
	margin-left: 15px;
	margin-bottom: -15px;
}

.profile-column-name-container{
	display: flex;
	margin-left: 10px;
	font-size: 25px;
	margin-top: 0px;

}

.profile-column-agegender{
	font-size: 40px;
	margin: -20px 0px -40px 0px;
	display: flex;
}

.profile-column-age{
	text-align: left;
	margin-left: 40px;
}

.profile-column-gender{
	text-align: left;
	margin-left: 35px;
	color: red;
}

.profile-column-email{
	font-size: 25px;
	margin: 40px 35px;
	text-align: left;
}

#profile-sec-hov{
	position: fixed;
	width: 310px;
	height: 100%;
	background: #ccc;
	border-right: 3px solid #3d3d3d;
	font-family: "oswald";
	padding: 0px 20px;
	text-align: center;
	opacity: 0;
}
#profile-sec-hov:hover{
	opacity: 1;
	background: transparent
}

#profile-edit-logo{
	height: 50px;
	width: 50px;
	background: url('images/edit-logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 50px;
	position: absolute;
	left: 257px;
	margin-top: -55px;
	cursor: pointer;
	display: none;
}

/* <-- INFORMATION COLUMN */

/* INFO EDIT POPUP FORM --> */

#info-edit-form-container{
	width: 800px;
	margin-top: 150px;
	padding: 10px;
	border-radius: 5px;
}
#info-edit-form-container input{
	height: 30px;
	padding: 3px;
	margin: 5px;
	font-size: 25px;
	font-family: "Calibri";
	border: 2px solid #3d3d3d;
	border-radius: 5px;
}
#info-edit-x{
	position: absolute;
	right: 235px;
	margin-top: -28px;
	font-size: 40px;
}
.flex{
	display: flex;
}
#info-edit-form-container #info-edit-name-flex input{
	width: 50%;
	margin: 5px;
	height: 30px;
	padding: 3px;
	font-size: 25px;
	font-family: "Calibri";
	border: 2px solid #3d3d3d;
	border-radius: 5px;
}
#info-edit-email {
	width: 70%;
}
#info-edit-bday{
	width: 30%;
}
#info-edit-submit{
	font-family: "Calibri";
	font-size: 25px;
	padding: 3px 5px;
	margin: 5px;
	background-color: #aaa;
	color: #3d3d3d;
	border: 2px solid #3d3d3d;
	border-radius: 5px;
}
#info-edit-submit:hover{
	background-color: #8e8e8e;
	color: #000;
}

/* <-- INFO EDIT POPUP FORM */

/* IMG POPUP FORM --> */

.popup-form-wrapper{
	text-align: center;
	position: fixed;
	background-color: rgb(0,0,0,0.4);
	color: black;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	overflow: auto;

	display: none;
	z-index: 1;
	padding-top: 20px;
}

.popup-form-contents{
	background-color: #ccc;
	margin: auto;
    border: 2px solid #3d3d3d;
    border-radius: 1%;
}

#pic-form-popup-contents{
	width: 800px;
}

.closeX{
  color: #000;
  float: right;
  font-weight: bold;
}

#pic-form-x{
	font-size: 38px;
	margin-top: -49px;
	margin-right: -30px;
}

.closeX:hover{
  color: #aaaaaa;
  text-decoration: none;
  cursor: pointer;
}

#select-pic-form h1{
	font-size: 50px;
	margin-bottom: 0px;
}

#imgfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#profile-pic-upload-btn, #img-crop-btn{
	padding: 10px 10px;
	font-size: 17px;
	font-weight: lighter;
}

#img-crop-btn{
	display: none;
}

.img-preview{
	margin: 0px;
	text-align: center;
	margin-left: 0px;
}

.jcrop-centered{
	display: inline-block;
	margin: 20px;
}

#img-crop-prev, .jcrop-holder img{
	z-index: 0;
	outline: 2px dashed #000;
    outline-offset: -2px;
}

/* <-- POPUP FORM */

/* SINGLE POST --> */


/* The wrapper for the posts */
.userPost{ 
	padding: 20px;
	margin: -30px 0px 50px 0px;
}

/* The container for the text to be displayed with the post */
.post-contents{
	background-color: #ccc;
	
	border: 2px solid #3d3d3d;
	padding: 0px 15px;
	border-radius: 10px;
}

/* The post headline */
.post-headline{

}

/* The non-headline text in the post */
.post-text{

}

/* The contents on the top left of the post */
.post-top{
	display: flex;
	align-items: center;
}

/* The picture on the top left of the post */
.post-picture{
	margin: 5px 3px;
	width: 40px;
	height: 40px;

	border: 2px solid #3d3d3d;
	border-radius: 7px;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.post-picture:hover{
	border-color: #000;
	filter: contrast(1.2);
	cursor: pointer;
}

/* The username right besides the picture */
.post-un{
	font-family: "calibri";
	font-weight: bold;
	font-size: 20px;

	padding: 8px 5px;
	margin-left: 2px;

	background-color: #aaa;
	border: 2px solid #3d3d3d;
	border-radius: 7px;
}
.post-un:hover{
	color: red;
	border-color: #000;
	background-color: #ccc;
	cursor: pointer;
}

.post-settings{
	height: 40px;
	width: 40px;
	position: absolute;
	right: 22px;

	filter: opacity(0.7);
	background-color: #aaa;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	border: 2px solid #000;
	border-radius: 7px;
}
.post-settings:hover{
	cursor: pointer;
}

/* The contents on the bottom right of the post */
.post-bottom{
	align-items: center;
	margin: 5px;
	text-align: right;
	display: flex;
	position: absolute;
	right: 17px;
	font-family: "calibri";
	font-weight: bold;
	font-size: 20px;
}



.post-votes{
	font-size: 30px;

	margin: 0px 5px;
}

.post-upvote{
	height: 40px;
	width: 40px;
	margin: 2px;

	filter: opacity(0.7);
	background-color: #aaa;
	background-image: url(images/upvote.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	border: 2px solid #000;
	border-radius: 7px;
}
.post-upvote:hover{
	cursor: pointer;
	filter:	opacity(1);
	background-size: 25px;
}

.post-downvote{
	height: 40px;
	width: 40px;
	margin: 2px;

	filter: opacity(0.7);
	background-color: #aaa;
	background-image: url(images/upvote.png);
	transform: rotate(180deg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	border: 2px solid #000;
	border-radius: 7px;
}
.post-downvote:hover{
	cursor: pointer;
	filter:	opacity(1);
	background-size: 25px;
}

.post-date{
	padding: 8px 5px;
	margin-left: 2px;

	background-color: #aaa;
	border: 2px solid #3d3d3d;
	border-radius: 7px;
}

#post-settings-form-popup-contents{
	width: 500px;
	margin-top: 200px;
}
#post-settings-x{
	font-size: 38px;
	margin-top: -15px;
	margin-right: -30px;
}
.post-settings-sec{
	padding: 30px;
	font-size: 30px;
	font-family: 'raleway';
	font-weight: bold;
}
.post-settings-sec:hover{
	background: #aaaaaa;
	cursor: pointer;
}

#post-edit-form-popup-contents{
	width: 700px;
	margin-top: 200px;
	padding: 10px;
	padding-right: 30px;
	border-radius: 5px;
}
#post-edit-x{
	font-size: 38px;
	margin-top: -10px;
	margin-right: -10px;
}
#post-edit-form input, #post-edit-form textarea{
	display: block;
	margin: 5px;
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	font-family: "calibri";
	padding: 5px;
}
#post-edit-headline{
	width: 50%;
	height: 30px;
	font-size: 25px;
	font-weight: bold;
}
#post-edit-contents{
	width: 100%;
	height: 150px;
	font-size: 20px;
}
#post-edit-submit{
	background-color: #aaa;
	border: 2px solid #3d3d3d;
	color: #3d3d3d;
	border-radius: 5px;
	font-size: 23px;
	font-weight: bold;
}
#post-edit-submit:hover{
	background-color: #8e8e8e;
	color: #000;
}

#post-delete-form-popup-contents{
	width: 700px;
	margin-top: 200px;
	padding: 10px;
	padding-right: 30px;
	border-radius: 5px;
	font-family: "Calibri";
	font-size: 28px;
}
#post-delete-x{
	font-size: 38px;
	margin-top: -10px;
	margin-right: -10px;
}
#post-delete-form-popup-contents div{
	display: inline-flex;
	margin: 5px;
	border: 2px solid #3d3d3d;
	border-radius: 5px;
	font-family: "Calibri";
	padding: 10px 20px;
	background-color: #aaaaaa;
	color: #3d3d3d;
	font-weight: bold;
}
#post-delete-form-popup-contents div:hover{
	cursor: pointer;
	color: #000;
	background-color: #8e8e8e;
}

/* <-- SINGLE POST */


/* POST CREATOR --> */

.profile-post-creator-wrapper{
	padding: 20px;
	margin: 10px 0px;
}

.profile-post-creator-content{
	background-color: #ccc;
	padding: 10px;
	padding-right: 25px;
	border: 2px solid #3d3d3d;
	border-radius: 7px;
}

.post-creator-top{
	margin: 8px 0px;
}

.post-creator-title{
	font-size: 30px;
	font-weight: bold;
	background-color: #aaa;
	border: 2px solid #3d3d3d;
	border-radius: 7px;
	padding: 2px 5px;
}

.profile-post-creator-content form{
	display: block;
	margin: 5px 5px;
}

.post-creator-head{
	width: 50%;
	font-size: 25px;
	font-weight: bold;
	padding: 5px;
	margin: 5px 0px;
	font-family: 'calibri';
	border: 2px solid #3d3d3d;
	border-radius: 7px;
}

.post-creator-content{
	width: 100%;
	font-size: 20px;
	padding: 5px;
	font-family: 'calibri';
	border: 2px solid #3d3d3d;
	border-radius: 7px;
}

.post-creator-bottom{
	margin: 8px 0px;
	text-align: right;
}

.post-creator-btn{
	font-size: 30px;
	font-weight: bold;
	background-color: #aaa;
	border: 2px solid #3d3d3d;
	border-radius: 7px;
	padding: 2px 5px;
}
.post-creator-btn:hover{
	cursor: pointer;
	border-color: #000;
	background-color: #ccc;
	color: red;
}

/* <-- POST CREATOR */


/* <-- PROFILE PAGE */
















footer{
	width: 100%;
	height: 30px;
	margin-top: 0px;
	background: #fff;
	text-align: center;
}