body {
  background-color: grey;
}

main {
  text-align: center;
  font-family: "Calibri";
}

#searchForm {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#searchTxt {
  height: 100%;
  width: 30%;
  padding: 0px 5px;
  font-size: 20px;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
}

#searchSubmit {
  color: #3d3d3d;
  font-size: 30px;
  font-weight: bold;
  background-color: #eee;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
  padding: 4px 5px;
  margin: 0px 5px;
  height: calc(100% - 8px);
}

#result-btns-wrapper {
  margin: 20px 0px;
}

#search-posts-btn,
#search-users-btn {
  color: #3d3d3d;
  font-size: 30px;
  font-weight: bold;
  background-color: #eee;
  border: 2px solid #3d3d3d;
  border-radius: 5px;
  padding: 4px 5px;
  margin: 0px 5px;
  height: calc(100% - 8px);
}

.btn:hover,
.btn-selected {
  color: red !important;
  background-color: #fff !important;
  border-color: #000 !important;
  cursor: pointer;
}
